<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Prompt Database</title>
        <meta charset="UTF-8">
        <meta name="author" content="Riley Meyers">
        <meta name="last modified" content="28/01/2024">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/@supabase/supabase-js@2"></script>
        <script src="https://code.jquery.com/jquery-3.7.0.js"></script>

    </head>
    <style>
        body {
            font-family: 'Lato', sans-serif;
        }
        .btn-action {
            width: 60px;
            height: 30px;
            text-align: center;
            padding: 0;
        }
    </style>
    <body>
        <div class="bg-dark text-light">
            <div class="container-fluid text-center">
                <div class="row">
                    <div class="col-sm-12">
                        <hr>
                        <h1>Prompt Database</h1>
                    </div>
                </div>
            </div>

            <!-- TODO Ideas for future features:
            [x] Clean up the formatting
            [x] Add a button for copying the prompt content to the clipboard
            [x] Add a form for filling in prompt variables and getting final version
            [x] Add a button for copying the final prompt to the clipboard
            [x] Add a button for sending the prompt to OpenAI API
            [x] Add a button for copying the OpenAI API response to the clipboard
            [x] Frontend input validation for all forms
            [] Backend input validation? Not sure what I would check.. maybe check for code injection?
            [x] Change the default font
            [x] Make the buttons in the table the same size
            [x] Add error handling for successful responses that looks like ('Error: No data found (GET BY NAME)', 400)
            [] Add a button for downloading the OpenAI API response as a text file
            [] Create database for storing sets of filled prompt variables to reuse
            [] Add a database for saving the final prompts and responses from OpenAI API
            -->

            <!-- Buttons for showing and hiding each of the sections below (Search by ID, Create Prompt, Delete Prompt, Update Prompt, Run Prompt)-->

            <div class="container">
                <div class="row py-2 justify-content-center">

                    <div class="col-auto">
                        <button class="btn btn-primary mx-1 my-2" type="button" data-bs-toggle="collapse" data-bs-target="#searchByIdSection" aria-expanded="false" aria-controls="searchById">Search</button>

                        <button class="btn btn-primary mx-1 my-2" type="button" data-bs-toggle="collapse" data-bs-target="#createPromptSection" aria-expanded="false" aria-controls="createPrompt">Create Prompt</button>

                        <button class="btn btn-primary mx-1 my-2" type="button" data-bs-toggle="collapse" data-bs-target="#deletePromptSection" aria-expanded="false" aria-controls="deletePrompt">Delete Prompt</button>

                        <button class="btn btn-primary mx-1 my-2" type="button" data-bs-toggle="collapse" data-bs-target="#updatePromptSection" aria-expanded="false" aria-controls="updatePrompt">Update Prompt</button>

                        <button class="btn btn-primary mx-1 my-2" type="button" data-bs-toggle="collapse" data-bs-target="#runPromptSection" aria-expanded="false" aria-controls="runPrompt">Run Prompt</button>
                    </div>


                </div>
                <hr>
                <!-- Script to hide the other sections when one section is shown -->
                <script>
                    //To add another section, add the name to the document ready function and the hideSections function
                    $(document).ready(function() {
                        $('#searchByIdSection').on('show.bs.collapse', function() {
                            hideSections('searchByIdSection');
                        });

                        $('#createPromptSection').on('show.bs.collapse', function() {
                            hideSections('createPromptSection');
                        });

                        $('#deletePromptSection').on('show.bs.collapse', function() {
                            hideSections('deletePromptSection');
                        });

                        $('#updatePromptSection').on('show.bs.collapse', function() {
                            hideSections('updatePromptSection');
                        });

                        $('#runPromptSection').on('show.bs.collapse', function() {
                            hideSections('runPromptSection');
                        });
                    });

                    //More efficient function for hiding sections
                    function hideSections(sectionToShow) {
                        let sections = ['searchByIdSection', 'createPromptSection', 'deletePromptSection', 'updatePromptSection', 'runPromptSection'];
                        sections = sections.filter(section => section !== sectionToShow);
                        sections.forEach(section => {
                            if (section !== sectionToShow) {
                                $('#' + section).collapse('hide');
                            }
                        });
                    }
                </script>




                <!-- Search for prompt by id or name -->
                <div class="container collapse" id="searchByIdSection">
                    <!-- Search by id -->
                    <div class="row g-3">
                        <div class="col-md-6">
                            <label for="searchId">Search by ID</label>
                            <input type="text" class="form-control" id="searchId" name="search_id" placeholder="Enter ID">
                        </div>
                    </div>
                    <div class="row g-3">
                        <div class="col-sm">
                            <button type="button" class="btn btn-primary my-2" id="searchButton">Search by ID</button>
                        </div>
                    </div>
                    <!-- Search by name -->
                    <div class="row g-3">
                        <div class="col-md-6">
                            <label for="searchName">Search by Name</label>
                            <input type="text" class="form-control" id="searchName" name="search_name" placeholder="Enter Name">
                        </div>
                    </div>
                    <div class="row g-3">
                        <div class="col-sm">
                            <button type="button" class="btn btn-primary my-2" id="searchNameButton">Search by Name</button>
                        </div>
                    </div>
                </div>
            </div>

            <script>
                $(document).ready(function() {
                    $('#searchButton').click(function() {
                        let searchId = $('#searchId').val();

                        //input validation using regex (id can a number between 1 and 999999)
                        if (!/^[1-9]\d{0,5}$/.test(searchId)) {
                            alert("Please enter a valid ID (1-999999)");
                            return;
                        }

                        $.ajax({
                            url: '/prompt/' + searchId,
                            type: 'GET',
                            success: function(data) {
                                console.log('Success:', data);
                                // Add error handling for successful responses that looks like ('Error: No data found ()', 400)
                                if (data[1]==400) {
                                    $('#results').html(data[0]);
                                    return;
                                }
                                let promptHtml = jsonToHtmlRouter(data);
                                $('#results').html(promptHtml);
                            },
                            error: function(xhr, status, error) {
                                $('#results').html("Error: " + error);
                            }
                        });
                    });

                    $('#searchNameButton').click(function() {
                        let searchName = $('#searchName').val();

                        //input validation using regex (name can be any string between 3 and 200 characters)
                        if (searchName.length < 3 || searchName.length > 200) {
                            alert("Please enter a valid name (3-200 characters)");
                            return;
                        }

                        $.ajax({
                            url: '/prompt/name/' + searchName,
                            type: 'GET',
                            success: function(data) {
                                console.log('Success:', data);
                                // Add error handling for successful responses that looks like ('Error: No data found ()', 400)
                                if (data[1]==400) {
                                    $('#results').html(data[0]);
                                    return;
                                }
                                let promptHtml = jsonToHtmlRouter(data);
                                $('#results').html(promptHtml);
                            },
                            error: function(xhr, status, error) {
                                $('#results').html("Error: " + error);
                            }
                        });
                    });
                });
            </script>

            <!-- Add new prompt form will be called by a jQuery POST Request -->
            <!-- Prompt database JSON format (need to collect data for each of these fields except id ):
            # {
            #     "id": int,
            #     "name": string,
            #     "prompt_content": string,
            #     "prompt_variables": string,
            #     "designed_for": string,
            #     "parent_prompt_id": int
            #}
            -->
            <div class="container collapse" id="createPromptSection">
                <div class="row g-3">


                        <div class="col-md-6">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" id="name" name="name" placeholder="Enter name">
                        </div>

                        <div class="col-md-6">
                            <label for="promptVariables">Prompt Variables</label>
                            <input type="text" class="form-control" id="promptVariables" name="prompt_variables" placeholder="Enter prompt variables">
                        </div>

                        <div class="col-12">
                            <label for="promptContent">Prompt Content</label>
                            <textarea class="form-control" id="promptContent" name="prompt_content" rows="3" placeholder="Enter prompt content"></textarea>
                        </div>

                        <div class="col-md-6">
                            <label for="designedFor">Designed For</label>
                            <input type="text" class="form-control" id="designedFor" name="designed_for" placeholder="Enter designed for">
                        </div>

                        <div class="col-md-6">
                            <label for="parentPromptId">Parent Prompt ID</label>
                            <input type="text" class="form-control" id="parentPromptId" name="parent_prompt_id" placeholder="Enter parent prompt ID">
                        </div>

                        <div class="col-12">
                            <button type="button" class="btn btn-primary" id="createButton">Submit</button>
                            <button type="button" class="btn btn-primary" id="clearCreateForm">Clear</button>
                        </div>


                </div>
            </div>

            <script>
                $(document).ready(function() {
                    $('#createButton').click(function() {
                        //input validation
                        let formName = $('#name').val();
                        let formPromptContent = $('#promptContent').val();
                        let formPromptVariables = $('#promptVariables').val();
                        let formDesignedFor = $('#designedFor').val();
                        let formParentPromptId = $('#parentPromptId').val();

                        // Check if formName is at least 3 characters long and less than 200 characters
                        if (formName.length < 3 || formName.length > 200) {
                            alert("Please enter a name that is at least 3 characters long and less than 200 characters long");
                            return;
                        }

                        // Check if formPromptContent is at least 5 characters long and less than 5000 characters
                        if (formPromptContent.length < 5 || formPromptContent.length > 5000) {
                            alert("Please enter prompt content that is at least 5 characters long and less than 5000 characters long");
                            return;
                        }

                        // Check if formPromptVariables is at least 1 character long and less than 500 characters
                        if (formPromptVariables.length < 1 || formPromptVariables.length > 500) {
                            alert("Please enter prompt variables that are at least 1 character long and less than 500 characters long");
                            return;
                        }

                        // Check if formDesignedFor is at least 1 character long and less than 100 characters
                        if (formDesignedFor.length < 1 || formDesignedFor.length > 100) {
                            alert("Please enter designed for that is at least 1 character long and less than 100 characters long");
                            return;
                        }

                        // If the parent prompt id is not empty, check if it is a number between 1 and 999999
                        if (formParentPromptId !== "" && !/^[1-9]\d{0,5}$/.test(formParentPromptId)) {
                            alert("Please enter a valid parent prompt ID (1-999999)");
                            return;
                        }

                        // Check if any of the fields are empty
                        if (formName === "" || formPromptContent === "" || formPromptVariables === "" || formDesignedFor === "") {
                            alert("Please fill out all fields to create prompt");
                            return;
                        }

                        let formData = {
                            name: formName,
                            prompt_content: formPromptContent,
                            prompt_variables: formPromptVariables,
                            designed_for: formDesignedFor,
                            parent_prompt_id: formParentPromptId
                        };

                        if (formParentPromptId === "") {
                            delete formData.parent_prompt_id;
                        }

                        $.ajax({
                            url: '/prompt',
                            type: 'POST',
                            contentType: 'application/json',
                            data: JSON.stringify(formData),
                            dataType: 'json',
                            success: function(data) {
                                console.log('Success:', data);
                                // Add error handling for successful responses that looks like ('Error: No data found ()', 400)
                                if (data[1]==400) {
                                    $('#results').html("Check that parent prompt id is valid. " + data[0]);
                                    return;
                                }
                                alert('Prompt added successfully');
                                refreshData();
                            },
                            error: function(xhr, status, error) {
                                $('#results').html("Check that parent prompt id is valid. Error: " + error);
                            }
                        });
                    });

                    // Clear the form fields
                    $('#clearCreateForm').click(function() {
                        $('#name').val("");
                        $('#promptContent').val("");
                        $('#promptVariables').val("");
                        $('#designedFor').val("");
                        $('#parentPromptId').val("");
                    });
                });
            </script>

            <!-- Delete prompt by id -->
            <div class="container collapse" id="deletePromptSection">
                <div class="row g-3">

                    <div class="col-md-6">
                        <label for="deleteId">Delete by ID</label>
                        <input type="text" class="form-control" id="deleteId" name="delete_id" placeholder="Enter ID">
                    </div>
                </div>
                <div class="row g-3">

                    <div class="col-sm">
                        <button type="button" class="btn btn-primary my-2" id="deleteButton">Delete</button>
                    </div>

                </div>
            </div>

            <script>
                $(document).ready(function() {
                    $('#deleteButton').click(function() {
                        let deleteId = $('#deleteId').val();

                        //input validation using regex (id can a number between 1 and 999999)
                        if (!/^[1-9]\d{0,5}$/.test(deleteId)) {
                            alert("Please enter a valid ID (1-999999)");
                            return;
                        }

                        $.ajax({
                            url: '/prompt/' + deleteId,
                            type: 'DELETE',
                            success: function(data) {
                                console.log('Success:', data);
                                // Add error handling for successful responses that looks like ('Error: No data found ()', 400)
                                if (data[1]==400) {
                                    $('#results').html(data[0]);
                                    return;
                                }
                                alert('Prompt deleted successfully');
                                refreshData();
                                $('#deleteId').val("");
                            },
                            error: function(xhr, status, error) {
                                $('#results').html("Error: " + error);
                            }
                        });
                    });
                });
            </script>


            <!-- Update prompt by id -->
            <div class="container collapse mt-3" id="updatePromptSection">
                <div class="row g-3">

                    <div class="col-md-6">
                        <label for="updateId">Update by ID</label>
                        <input type="text" class="form-control" id="updateId" name="update_id" placeholder="Enter ID">
                    </div>

                    <div class="col-md-6">
                        <label for="updateName">Name</label>
                        <input type="text" class="form-control" id="updateName" name="update_name" placeholder="Enter name">
                    </div>

                    <div class="col-12">
                        <label for="updatePromptContent">Prompt Content</label>
                        <textarea class="form-control" id="updatePromptContent" name="update_prompt_content" rows="3" placeholder="Enter prompt content"></textarea>
                    </div>

                    <div class="col-md-6">
                        <label for="updatePromptVariables">Prompt Variables</label>
                        <input type="text" class="form-control" id="updatePromptVariables" name="update_prompt_variables" placeholder="Enter prompt variables">
                    </div>

                    <div class="col-md-6">
                        <label for="updateDesignedFor">Designed For</label>
                        <input type="text" class="form-control" id="updateDesignedFor" name="update_designed_for" placeholder="Enter designed for">
                    </div>

                    <div class="col-md-6">
                        <label for="updateParentPromptId">Parent Prompt ID</label>
                        <input type="text" class="form-control" id="updateParentPromptId" name="update_parent_prompt_id" placeholder="Enter parent prompt ID">
                    </div>

                    <div class="col-12">
                        <button type="button" class="btn btn-primary" id="updateButton">Update</button>
                        <button type="button" class="btn btn-primary" id="clearUpdateForm">Clear</button>
                    </div>

                </div>
            </div>

            <script>
                //If the field is empty or null, do not update that field
                $(document).ready(function() {
                    $('#updateButton').click(function() {
                        let updateId = $('#updateId').val();

                        //input validation using regex (id can a number between 1 and 999999)
                        if (!/^[1-9]\d{0,5}$/.test(updateId)) {
                            alert("Please enter a valid ID (1-999999)");
                            return;
                        }

                        let updateName = $('#updateName').val();
                        let updatePromptContent = $('#updatePromptContent').val();
                        let updatePromptVariables = $('#updatePromptVariables').val();
                        let updateDesignedFor = $('#updateDesignedFor').val();
                        let updateParentPromptId = $('#updateParentPromptId').val();

                        let formData = {
                            name: updateName,
                            prompt_content: updatePromptContent,
                            prompt_variables: updatePromptVariables,
                            designed_for: updateDesignedFor,
                            parent_prompt_id: updateParentPromptId
                        };

                        // Check if the fields are empty or null, and delete them from the form data if they are
                        // Check if the fields are the correct length
                        if (updateName === "") {
                            delete formData.name;
                        } else if (updateName.length < 3 || updateName.length > 200) {
                            alert("Please enter a name that is at least 3 characters long and less than 200 characters long");
                            return;
                        }

                        if (updatePromptContent === "") {
                            delete formData.prompt_content;
                        } else if (updatePromptContent.length < 5 || updatePromptContent.length > 5000) {
                            alert("Please enter prompt content that is at least 5 characters long and less than 5000 characters long");
                            return;
                        }

                        if (updatePromptVariables === "") {
                            delete formData.prompt_variables;
                        } else if (updatePromptVariables.length < 1 || updatePromptVariables.length > 500) {
                            alert("Please enter prompt variables that are at least 1 character long and less than 500 characters long");
                            return;
                        }

                        if (updateDesignedFor === "") {
                            delete formData.designed_for;
                        } else if (updateDesignedFor.length < 1 || updateDesignedFor.length > 100) {
                            alert("Please enter designed for that is at least 1 character long and less than 100 characters long");
                            return;
                        }

                        if (updateParentPromptId === "") {
                            delete formData.parent_prompt_id;
                        } else if (!/^[1-9]\d{0,5}$/.test(updateParentPromptId)) {
                            alert("Please enter a valid parent prompt ID (1-999999)");
                            return;
                        }



                        $.ajax({
                            url: '/prompt/' + updateId,
                            type: 'PUT',
                            contentType: 'application/json',
                            data: JSON.stringify(formData),
                            dataType: 'json',
                            success: function(data) {
                                console.log('Success:', data);
                                // Add error handling for successful responses that looks like ('Error: No data found ()', 400)
                                if (data[1]==400) {
                                    $('#results').html(data[0]);
                                    return;
                                }
                                alert('Prompt updated successfully');
                                refreshData();
                            },
                            error: function(xhr, status, error) {
                                $('#results').html("Error: " + error);
                            }
                        });
                    });

                    // Clear the form fields
                    $('#clearUpdateForm').click(function() {
                        $('#updateId').val("");
                        $('#updateName').val("");
                        $('#updatePromptContent').val("");
                        $('#updatePromptVariables').val("");
                        $('#updateDesignedFor').val("");
                        $('#updateParentPromptId').val("");
                    });
                });


            </script>



            <!-- Run prompt section (copy to keyboard, run through openAI, or download text document with prompt)-->
            <div class="container collapse mt-3" id="runPromptSection">
                <div class="row g-3">

                    <div class="col-12">
                        <label for="promptContent">Prompt Content</label>
                        <textarea class="form-control" id="runPromptContent" name="run_prompt_content" rows="3" placeholder="Enter prompt content"></textarea>
                    </div>

                    <!-- TODO promptVariables forms will be added automatically if the content has variables in it
                    <div class="col-12">
                        <label for="promptVariables">Prompt Variables</label>
                        <input type="text" class="form-control" id="runPromptVariables" name="run_prompt_variables" placeholder="Enter prompt variables">
                    </div>
                    -->

                    <div class="col-md-12">
                        <button type="button" class="btn btn-primary" id="runButton">Run</button>
                        <button type="button" class="btn btn-primary" id="copyPromptButton">Copy Prompt</button>
                    </div>


                    <div class="col-12">
                        <textarea class="form-control" id="completionResponse" name="completion_response" rows="3" placeholder="Completion response"></textarea>
                    </div>



                    <div class="col-12">
                        <!-- Download Button disabled currently -->
                        <!-- <button type="button" class="btn btn-primary" id="downloadButton">Download</button> -->
                        <button type="button" class="btn btn-primary" id="copyResponseButton">Copy Response</button>
                        <button type="button" class="btn btn-primary" id="clearRunForm">Clear</button>
                    </div>



                </div>
            </div>
            <script>
                $(document).ready(function() {
                    $('#runPromptContent').on('input', function() {
                        createPromptVariableFields();
                    });

                    // Reference for this solution: https://shouts.dev/articles/add-or-remove-input-fields-dynamically-using-jquery
                    function createPromptVariableFields() {
                        // Remove existing variable fields
                        $('.prompt-variable-input').remove();

                        // Get the variables from the prompt content
                        let promptContent = $('#runPromptContent').val();

                        // Find variables in the prompt using regex
                        let variables = promptContent.match(/\{([^\}]+)\}/g);

                        // Iterate over found variables and create input fields for them
                        variables.forEach(variable => {
                            // Remove the curly braces
                            let variableName = variable.replace(/\{|\}/g, '');
                            let inputHtml = `<div class="col-12 prompt-variable-input">
                                <label for="variable-${variableName}">${variableName}</label>
                                <input type="text" class="form-control mb-2" id="variable-${variableName}" name="variable_${variableName}" placeholder="Enter value for ${variableName}">
                             </div>`;

                             $(inputHtml).insertBefore('#runButton');
                        });
                    }

                    $('#runButton').click(function() {
                        let runPromptContent = $('#runPromptContent').val();

                        // Get the variable values from the input fields and put them in an array
                        let variables = $('.prompt-variable-input input').toArray().reduce((variableArray, input) => {
                            let variableName = input.id.replace('variable-', '');
                            variableArray[variableName] = $(input).val();

                            //Check if the variables are filled in and are less than 1000 characters
                            if (variableArray[variableName] === "") {
                                alert("Please fill out all fields to run prompt");
                                return;
                            } else if (variableArray[variableName].length > 5000) {
                                alert("Please enter a value that is less than 5000 characters long");
                                return;
                            }

                            return variableArray;
                        }, {});

                        // Only run this if there are variables in the prompt
                        if (Object.keys(variables).length != 0) {
                            Object.keys(variables).forEach(variable => {
                                // Replace the variables in the prompt content with the values from the input fields
                                runPromptContent = runPromptContent.replace(new RegExp(`\\\{${variable}\\\}`, 'g'), variables[variable]);
                            });
                        }


                        //input validation
                        if (runPromptContent === "") {
                            alert("Please fill out all fields to run prompt");
                            return;
                        } else if (runPromptContent.length > 9000) {
                            alert("Please enter a prompt that is less than 9000 characters long");
                            return;
                        }
                        data = [{prompt: runPromptContent}]
                        console.log(data)

                        //Callin get /prompt/completion in the backend
                        $.ajax({
                            url: '/prompt/completion',
                            type: 'POST',
                            contentType: 'application/json',
                            data: JSON.stringify(data),
                            dataType: 'json',
                            success: function(data) {
                                console.log('Success:', data);
                                // Add error handling for successful responses that looks like ('Error: No data found ()', 400)
                                if (data[1]==400) {
                                    $('#results').html(data[0]);
                                    return;
                                }
                                alert("Success!")
                                //TODO Display the response in a new section
                                $('#completionResponse').val(data.result);
                            },
                            error: function(xhr, status, error) {
                                $('#results').html("Error: " + error);
                            }
                        });
                    });

                    $('#copyPromptButton').click(function() {
                        let runPromptContent = $('#runPromptContent').val();

                        // Get the variable values from the input fields and put them in an array
                        let variables = $('.prompt-variable-input input').toArray().reduce((variableArray, input) => {
                            let variableName = input.id.replace('variable-', '');
                            variableArray[variableName] = $(input).val();

                            //Check if the variables are filled in
                            if (variableArray[variableName] === "") {
                                alert("Please fill out all fields to copy prompt");
                                return;
                            } else if (variableArray[variableName].length > 10000) {
                                alert("Please enter a value that is less than 10000 characters long");
                                return;
                            }

                            return variableArray;
                        }, {});

                        // Only run this if there are variables in the prompt
                        if (Object.keys(variables).length != 0) {
                            Object.keys(variables).forEach(variable => {
                                // Replace the variables in the prompt content with the values from the input fields
                                runPromptContent = runPromptContent.replace(new RegExp(`\\\{${variable}\\\}`, 'g'), variables[variable]);
                            });
                        }

                        //input validation
                        if (runPromptContent === "") {
                            alert("Please fill out all fields to copy prompt:" + runPromptContent + "   " + runPromptVariables);
                            return;
                        } else if (runPromptContent.length > 20000) {
                            alert("Please enter a prompt that is less than 20000 characters long");
                            return;
                        }

                        // Copy the prompt to the clipboard
                        // Reference: https://www.buildwithphp.com/how-to-copy-text-to-clipboard-using-jquery
                        let tempTextArea = $('<textarea>');
                        $('body').append(tempTextArea);
                        tempTextArea.val(runPromptContent).select();
                        document.execCommand('copy');
                        tempTextArea.remove();
                        alert("Prompt copied to clipboard")
                    });

                    $('#copyResponseButton').click(function() {
                        let completionResponse = $('#completionResponse').val();

                        //input validation
                        if (completionResponse === "") {
                            alert("No Response to copy to clipboard");
                            return;
                        }

                        // Copy the response to the clipboard

                        let tempTextArea = $('<textarea>');
                        $('body').append(tempTextArea);
                        tempTextArea.val(completionResponse).select();
                        document.execCommand('copy');
                        tempTextArea.remove();
                        alert("Response copied to clipboard")
                    });

                    $('#clearRunForm').click(function() {
                        $('#runPromptContent').val("");
                        $('#completionResponse').val("");
                        $('.prompt-variable-input').remove();
                    });

                    // Download the response from openAI as a text file (currently disabled)
                    // $('#downloadButton').click(function() {
                    //     let completionResponse = $('#completionResponse').val();

                    //     //input validation
                    //     if (completionResponse === "") {
                    //         alert("Please get response before downloading");
                    //         return;
                    //     }

                    //     //TODO Download the response as a text file using jquery
                    // });
                });


            </script>

            <!-- Display all prompts in a table -->
            <div class="container">
                <div class="row p-2">
                    <hr>
                    <div class="col-sm">
                        <button id="refreshData" class="btn btn-info">Refresh Prompts</button>

                        <!--Checkbox for simplified table, clean up this code later-->
                        <input type="checkbox" id="simplifiedTable" name="simplified_table" value="simplified_table" checked>
                        <label for="simplifiedTable">Simplified Table</label>

                    </div>

                </div>
                <div class="row p-1">
                    <div class="col-sm">
                        <h4>Results</h4>
                        <div id='results'>
                            <!-- Results will be displayed here -->

                        </div>
                    </div>
                </div>
            </div>




        </div>

        <script>
            // Refresh table on checkbox change
            $('#simplifiedTable').change(function() {
                refreshData();
            });



            //Adding event listener to the buttons in the results table
            $('#results').on('click', 'button.btn-action', function() {
                // Scroll to the top of the page
                window.scrollTo(0, 0);

                let id = $(this).data('id');

                let action = $(this).data('action');

                if (action === 'delete') {
                    // Confirm that the user wants to delete the prompt
                    if (!confirm("Are you sure you want to delete this prompt?")) {
                        return;
                    }

                    $.ajax({
                        url: '/prompt/' + id,
                        type: 'DELETE',
                        success: function(data) {
                            console.log('Success:', data);
                            // Add error handling for successful responses that looks like ('Error: No data found ()', 400)
                            if (data[1]==400) {
                                $('#results').html(data[0]);
                                return;
                            }
                            alert('Prompt deleted successfully');
                            refreshData();
                        },
                        error: function(xhr, status, error) {
                            $('#results').html("Error: " + error);
                        }
                    });
                    return;

                } else if (action == 'update') {
                    //Open the update prompt section
                    $('#updatePromptSection').collapse('show');

                    //Get the prompt data for the selected ID and fill in the form fields
                    $.ajax({
                        url: '/prompt/' + id,
                        type: 'GET',
                        success: function(data) {
                            console.log('Success:', data);
                            $('#updateId').val(data[0].id);
                            $('#updateName').val(data[0].name);
                            $('#updatePromptContent').val(data[0].prompt_content);
                            $('#updatePromptVariables').val(data[0].prompt_variables);
                            $('#updateDesignedFor').val(data[0].designed_for);
                            $('#updateParentPromptId').val(data[0].parent_prompt_id);
                        },
                        error: function(xhr, status, error) {
                            $('#results').html("Issue getting prompt information to update. Error: " + error);
                        }
                    });
                    return;

                } else if (action == 'inherit') {
                    //Open the create prompt section
                    $('#createPromptSection').collapse('show');

                    //Get the prompt data for the selected ID and fill in the form fields
                    $.ajax({
                        url: '/prompt/' + id,
                        type: 'GET',
                        success: function(data) {
                            console.log('Success:', data);
                            $('#name').val(data[0].name);
                            $('#promptContent').val(data[0].prompt_content);
                            $('#promptVariables').val(data[0].prompt_variables);
                            $('#designedFor').val(data[0].designed_for);
                            $('#parentPromptId').val(data[0].id);
                        },
                        error: function(xhr, status, error) {
                            $('#results').html("Issue getting prompt infor to inherit. Error: " + error);
                        }
                    });
                    return;

                } else if (action == 'run') {
                    //Open the run prompt section
                    $('#runPromptSection').collapse('show');

                    //Get the prompt data for the selected ID and fill in the form fields
                    $.ajax({
                        url: '/prompt/' + id,
                        type: 'GET',
                        success: function(data) {
                            console.log('Success:', data);
                            $('#runPromptContent').val(data[0].prompt_content);
                            createPromptVariableFields();
                            $('#completionResponse').val("");
                        },
                        error: function(xhr, status, error) {
                            $('#results').html("Issue getting prompt information to run. Error: " + error);
                        }
                    });
                    return;
                }

                else {
                    alert("Invalid action");
                }
            });


            function jsonToHtmlTable(jsonData, tableHtml) {

                //Set Custom order of headers (id, name, prompt_content, prompt_variables, designed_for, parent_prompt_id, created_at)
                tableHtml += "<th>ID</th><th>Name</th><th>Prompt Content</th><th>Prompt Variables</th><th>Designed For</th><th>Parent Prompt ID</th><th>Created At</th>";

                tableHtml += "<th>Actions</th></tr>";

                // Populate the table rows with the JSON data
                jsonData.forEach(item => {
                    tableHtml += "<tr>";

                    //Fill in the table with the data
                    tableHtml += "<td>" + item.id + "</td>";
                    tableHtml += "<td>" + item.name + "</td>";
                    tableHtml += "<td>" + item.prompt_content + "</td>";
                    tableHtml += "<td>" + item.prompt_variables + "</td>";
                    tableHtml += "<td>" + item.designed_for + "</td>";
                    tableHtml += "<td>" + item.parent_prompt_id + "</td>";

                    //Need to clean up the date format
                    let date = new Date(item.created_at);
                    item.created_at = date.toISOString().slice(0, 10);
                    tableHtml += "<td>" + item.created_at + "</td>";

                    // Add buttons for inheriting, updating, and deleting prompts
                    tableHtml += addButtonsToTable(item);

                    tableHtml += "</tr>";
                });

                // Close the table tags
                tableHtml += "</table>";

                return tableHtml;
            }

            // Simplified table verson (only shows ID, Name, and Prompt Content, Inherit, Update, and Delete buttons)
            function simpleJsonToHtmlTable(jsonData, tableHtml) {


                //Set Custom order of headers (id, name, prompt_content)
                tableHtml += "<th>ID</th><th>Name</th><th>Prompt Content</th>";

                tableHtml += "<th>Actions</th></tr>";

                // Populate the table rows with the JSON data
                jsonData.forEach(item => {
                    tableHtml += "<tr>";

                    //Fill in the table with the data
                    tableHtml += "<td>" + item.id + "</td>";
                    tableHtml += "<td>" + item.name + "</td>";
                    tableHtml += "<td>" + item.prompt_content + "</td>";

                    // Add buttons for inheriting, updating, and deleting prompts
                    tableHtml += addButtonsToTable(item);

                    tableHtml += "</tr>";
                });

                // Close the table tags
                tableHtml += "</table>";

                return tableHtml;
            }

            // Function to avoid repeating the code when converting JSON to HTML table, and choose which one to use based on the checkbox
            function jsonToHtmlRouter(jsonData) {
                // Check if jsonData is empty
                if (jsonData.length === 0) {
                    return "<p>No data available</p>";
                }

                // Check if the simplified table checkbox is checked
                let simplifyTable = $('#simplifiedTable').is(':checked');

                // Start building the table
                let tableHtml = "<table class='table table-hover table-primary table-bordered table-striped'><tr>";

                if (simplifyTable) {
                    return simpleJsonToHtmlTable(jsonData, tableHtml);
                } else {
                    return jsonToHtmlTable(jsonData, tableHtml);
                }
            }

            // Function to add buttons to the table (mostly to clean up code repitition)
            function addButtonsToTable(item) {
                // Add buttons for inheriting, updating, deleting, and running prompts
                let buttonTableHtml = "<td><button type='button' class='btn btn-primary btn-action mb-1 ml-1' data-id='" + item.id + "' data-action='inherit'>Inherit</button>";
                buttonTableHtml += "<button type='button' class='btn btn-primary btn-action mb-1 ml-1' data-id='" + item.id + "' data-action='update'>Update</button>";
                buttonTableHtml += "<button type='button' class='btn btn-primary btn-action mb-1 ml-1' data-id='" + item.id + "' data-action='delete'>Delete</button>";
                buttonTableHtml += "<button type='button' class='btn btn-primary btn-action mb-1 ml-1' data-id='" + item.id + "' data-action='run'>Run</button></td>";

                return buttonTableHtml;

            }


            function getAllPrompts() {
                console.log("Trying to get all prompts");
                $.ajax({
                    url: '/prompt',
                    type: 'GET',
                    success: function(data) {
                        console.log(data);
                        let promptsHtml = jsonToHtmlRouter(data)
                        $('#results').html(promptsHtml);
                    },
                    error: function(xhr, status, error) {
                        $('#results').html("Error: " + error);
                    }
                });
            }

            $(document).ready(function() {
                getAllPrompts();
            });

            // Refresh button
            $("#refreshData").click(function() {
                refreshData();
            });

            // Refresh function
            function refreshData() {
                $('#results').html('')
                getAllPrompts();
            }

            //Copying this function again for reuse
            function createPromptVariableFields() {
                // Remove existing variable fields
                $('.prompt-variable-input').remove();

                let promptContent = $('#runPromptContent').val();
                let variables = promptContent.match(/\{([^\}]+)\}/g);

                variables.forEach(variable => {
                    let variableName = variable.replace(/\{|\}/g, '');
                    let inputHtml = `<div class="col-12 prompt-variable-input">
                        <label for="variable-${variableName}">${variableName}</label>
                        <input type="text" class="form-control mb-2" id="variable-${variableName}" name="variable_${variableName}" placeholder="Enter value for ${variableName}">
                        </div>`;

                        $(inputHtml).insertBefore('#runButton');
                });
            }
        </script>
    </body>
</html>