<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Prompt Database</title>
        <meta charset="UTF-8">
        <meta name="author" content="Riley Meyers">
        <meta name="last modified" content="28/01/2024">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

        <script src="https://cdn.jsdelivr.net/npm/@supabase/supabase-js@2"></script>
        <script src="https://code.jquery.com/jquery-3.7.0.js"></script>

    </head>

    <body>
        <div class="bg-dark text-light">
            <div class="container-fluid text-center">
                <div class="row">
                    <div class="col-sm-12">
                        <h1>Prompt Database</h1>



                    </div>
                </div>
            </div>
            
            <!-- TODO Ideas for future features:
            [] Add a button for copying the prompt content to the clipboard
            [] Add a form for filling in prompt variables and getting final version
            [] Create database for storing sets of filled prompt variables to reuse
            [] Add a button for copying the final prompt to the clipboard
            [] Add a button for downloading the final prompt as a text file
            [] Add a button for sending the final prompt to OpenAI API
            [] Add a database for saving the final prompts and responses from OpenAI API
            [] Add a button for copying the OpenAI API response to the clipboard
            [] Add a button for downloading the OpenAI API response as a text file
            -->

            <!-- Buttons for showing and hiding each of the sections below (Search by ID, Create Prompt, Delete Prompt, and Update Prompt)-->

            <div class="container">
                <div class="row p-5">
                    <div class="col-sm">
                        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#searchByIdSection" aria-expanded="false" aria-controls="searchById">Search by ID</button>
                    </div>
                    <div class="col-sm">
                        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#createPromptSection" aria-expanded="false" aria-controls="createPrompt">Create Prompt</button>
                    </div>
                    <div class="col-sm">
                        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#deletePromptSection" aria-expanded="false" aria-controls="deletePrompt">Delete Prompt</button>
                    </div>
                    <div class="col-sm">
                        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#updatePromptSection" aria-expanded="false" aria-controls="updatePrompt">Update Prompt</button>
                    </div>
            </div>

            <!-- Script to hide the other sections when one section is shown -->
            <script>
                $(document).ready(function() {
                    $('#searchByIdSection').on('show.bs.collapse', function() {
                        $('#createPromptSection').collapse('hide');
                        $('#deletePromptSection').collapse('hide');
                        $('#updatePromptSection').collapse('hide');
                    });

                    $('#createPromptSection').on('show.bs.collapse', function() {
                        $('#searchByIdSection').collapse('hide');
                        $('#deletePromptSection').collapse('hide');
                        $('#updatePromptSection').collapse('hide');
                    });

                    $('#deletePromptSection').on('show.bs.collapse', function() {
                        $('#searchByIdSection').collapse('hide');
                        $('#createPromptSection').collapse('hide');
                        $('#updatePromptSection').collapse('hide');
                    });

                    $('#updatePromptSection').on('show.bs.collapse', function() {
                        $('#searchByIdSection').collapse('hide');
                        $('#createPromptSection').collapse('hide');
                        $('#deletePromptSection').collapse('hide');
                    });
                });
            </script>

            

            <!-- Search for prompt by id -->
            <div class="container collapse" id="searchByIdSection">
                <div class="row p-5">

                    <div class="col-sm">
                        <label for="searchId">Search by ID</label>
                        <input type="text" class="form-control" id="searchId" name="search_id" placeholder="Enter ID">
                    </div>

                    <div class="col-sm">
                        <button type="button" class="btn btn-primary" id="searchButton">Search</button>
                    </div>

                </div>
            </div>

            <script>
                $(document).ready(function() {
                    $('#searchButton').click(function() {
                        let searchId = $('#searchId').val();

                        //input validation using regex (id can a number between 1 and 999999)
                        if (!/^[1-9]\d{0,5}$/.test(searchId)) {
                            alert("Please enter a valid ID (1-999999)");
                            return;
                        }

                        $.ajax({
                            url: '/prompt/' + searchId,
                            type: 'GET',
                            success: function(data) {
                                console.log('Success:', data);
                                let promptHtml = jsonToHtmlRouter(data);
                                $('#results').html(promptHtml);
                            },
                            error: function(xhr, status, error) {
                                $('#results').html("Error: " + error);
                            }
                        });
                    });
                });
            </script>

            <!-- Add new prompt form will be called by a jQuery POST Request -->
            <!-- Prompt database JSON format (need to collect data for each of these fields except id. parent_prompt_id is not included right now, will be included when inheriting a prompt):
            # {
            #     "id": int,
            #     "name": string,
            #     "prompt_content": string,
            #     "prompt_variables": string,
            #     "designed_for": string,
            #     "parent_prompt_id": int
            #}
            -->
            <div class="container collapse" id="createPromptSection">
                <div class="row">


                        <div class="col-sm">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" id="name" name="name" placeholder="Enter name">
                        </div>

                        <div class="col-sm">
                            <label for="promptContent">Prompt Content</label>
                            <textarea class="form-control" id="promptContent" name="prompt_content" rows="1" placeholder="Enter prompt content"></textarea>
                        </div>

                        <div class="col-sm">
                            <label for="promptVariables">Prompt Variables</label>
                            <input type="text" class="form-control" id="promptVariables" name="prompt_variables" placeholder="Enter prompt variables">
                        </div>

                        <div class="col-sm">
                            <label for="designedFor">Designed For</label>
                            <input type="text" class="form-control" id="designedFor" name="designed_for" placeholder="Enter designed for">
                        </div>

                        <div class="col-sm">
                            <label for="parentPromptId">Parent Prompt ID</label>
                            <input type="text" class="form-control" id="parentPromptId" name="parent_prompt_id" placeholder="Enter parent prompt ID">
                        </div>

                        <div class="col-sm">
                            <button type="button" class="btn btn-primary" id="createButton">Submit</button>
                        </div>


                </div>
            </div>

            <script>
                $(document).ready(function() {
                    $('#createButton').click(function() {
                        //input validation
                        let formName = $('#name').val();
                        let formPromptContent = $('#promptContent').val();
                        let formPromptVariables = $('#promptVariables').val();
                        let formDesignedFor = $('#designedFor').val();
                        let formParentPromptId = $('#parentPromptId').val();

                        if (formName === "" || formPromptContent === "" || formPromptVariables === "" || formDesignedFor === "") {
                            alert("Please fill out all fields to create prompt");
                            return;
                        }

                        let formData = {
                            name: formName,
                            prompt_content: formPromptContent,
                            prompt_variables: formPromptVariables,
                            designed_for: formDesignedFor,
                            parent_prompt_id: formParentPromptId
                        };

                        if (formParentPromptId === "") {
                            delete formData.parent_prompt_id;
                        }

                        $.ajax({
                            url: '/prompt',
                            type: 'POST',
                            contentType: 'application/json',
                            data: JSON.stringify(formData),
                            dataType: 'json',
                            success: function(data) {
                                console.log('Success:', data);
                                alert('Prompt added successfully');
                                refreshData();
                            },
                            error: function(xhr, status, error) {
                                $('#results').html("Error: " + error);
                            }
                        });
                    });
                });
            </script>

            <!-- Delete prompt by id -->
            <div class="container collapse" id="deletePromptSection">
                <div class="row p-5">

                    <div class="col-sm">
                        <label for="deleteId">Delete by ID</label>
                        <input type="text" class="form-control" id="deleteId" name="delete_id" placeholder="Enter ID">
                    </div>

                    <div class="col-sm">
                        <button type="button" class="btn btn-primary" id="deleteButton">Delete</button>
                    </div>

                </div>
            </div>

            <script>
                $(document).ready(function() {
                    $('#deleteButton').click(function() {
                        let deleteId = $('#deleteId').val();

                        //input validation using regex (id can a number between 1 and 999999)
                        if (!/^[1-9]\d{0,5}$/.test(deleteId)) {
                            alert("Please enter a valid ID (1-999999)");
                            return;
                        }

                        $.ajax({
                            url: '/prompt/' + deleteId,
                            type: 'DELETE',
                            success: function(data) {
                                console.log('Success:', data);
                                alert('Prompt deleted successfully');
                                refreshData();
                            },
                            error: function(xhr, status, error) {
                                $('#results').html("Error: " + error);
                            }
                        });
                    });
                });
            </script>


            <!-- Update prompt by id -->
            <div class="container collapse" id="updatePromptSection">
                <div class="row p-5">

                    <div class="col-sm">
                        <label for="updateId">Update by ID</label>
                        <input type="text" class="form-control" id="updateId" name="update_id" placeholder="Enter ID">
                    </div>

                    <div class="col-sm">
                        <label for="updateName">Name</label>
                        <input type="text" class="form-control" id="updateName" name="update_name" placeholder="Enter name">
                    </div>

                    <div class="col-sm">
                        <label for="updatePromptContent">Prompt Content</label>
                        <textarea class="form-control" id="updatePromptContent" name="update_prompt_content" rows="1" placeholder="Enter prompt content"></textarea>
                    </div>

                    <div class="col-sm">
                        <label for="updatePromptVariables">Prompt Variables</label>
                        <input type="text" class="form-control" id="updatePromptVariables" name="update_prompt_variables" placeholder="Enter prompt variables">
                    </div>

                    <div class="col-sm">
                        <label for="updateDesignedFor">Designed For</label>
                        <input type="text" class="form-control" id="updateDesignedFor" name="update_designed_for" placeholder="Enter designed for">
                    </div>

                    <div class="col-sm">
                        <label for="updateParentPromptId">Parent Prompt ID</label>
                        <input type="text" class="form-control" id="updateParentPromptId" name="update_parent_prompt_id" placeholder="Enter parent prompt ID">
                    </div>

                    <div class="col-sm">
                        <button type="button" class="btn btn-primary" id="updateButton">Update</button>
                    </div>

                </div>
            </div>

            <script>
                //If the field is empty or null, do not update that field
                $(document).ready(function() {
                    $('#updateButton').click(function() {
                        let updateId = $('#updateId').val();

                        //input validation using regex (id can a number between 1 and 999999)
                        if (!/^[1-9]\d{0,5}$/.test(updateId)) {
                            alert("Please enter a valid ID (1-999999)");
                            return;
                        }

                        let updateName = $('#updateName').val();
                        let updatePromptContent = $('#updatePromptContent').val();
                        let updatePromptVariables = $('#updatePromptVariables').val();
                        let updateDesignedFor = $('#updateDesignedFor').val();
                        let updateParentPromptId = $('#updateParentPromptId').val();

                        let formData = {
                            name: updateName,
                            prompt_content: updatePromptContent,
                            prompt_variables: updatePromptVariables,
                            designed_for: updateDesignedFor,
                            parent_prompt_id: updateParentPromptId
                        };

                        if (updateName === "") {
                            delete formData.name;
                        }

                        if (updatePromptContent === "") {
                            delete formData.prompt_content;
                        }

                        if (updatePromptVariables === "") {
                            delete formData.prompt_variables;
                        }

                        if (updateDesignedFor === "") {
                            delete formData.designed_for;
                        }

                        if (updateParentPromptId === "") {
                            delete formData.parent_prompt_id;
                        }

                        $.ajax({
                            url: '/prompt/' + updateId,
                            type: 'PUT',
                            contentType: 'application/json',
                            data: JSON.stringify(formData),
                            dataType: 'json',
                            success: function(data) {
                                console.log('Success:', data);
                                alert('Prompt updated successfully');
                                refreshData();
                            },
                            error: function(xhr, status, error) {
                                $('#results').html("Error: " + error);
                            }
                        });
                    });
                });


            </script>


            <!-- Display all prompts in a table -->
            <!-- TODO Clean up this section and fix the issue where long prompts extend out the table-->

            <div class="container">
                <div class="row p-5">
                    <div class="col-sm">
                        <button id="refreshData" class="btn btn-info">Refresh Prompts</button>

                        <!--Checkbox for simplified table, clean up this code later-->
                        <input type="checkbox" id="simplifiedTable" name="simplified_table" value="simplified_table">
                        <label for="simplifiedTable">Simplified Table</label>

                        <div id='results'>
                            <!-- Results will be displayed here -->
                            <button type='button' class='btn btn-primary btn-action' data-id='1'>Inherit</button>
                        </div>
                    </div>

                </div>
            </div>




        </div>

        <script>
            // Refresh table on checkbox change
            $('#simplifiedTable').change(function() {
                refreshData();
            });



            //Adding event listener to the buttons in the results table
            $('#results').on('click', 'button.btn-action', function() {
                let id = $(this).data('id');
                
                let action = $(this).data('action');
                if (action === 'delete') {
                    $.ajax({
                        url: '/prompt/' + id,
                        type: 'DELETE',
                        success: function(data) {
                            console.log('Success:', data);
                            alert('Prompt deleted successfully');
                            refreshData();
                        },
                        error: function(xhr, status, error) {
                            $('#results').html("Error: " + error);
                        }
                    });
                    return;
                } else if (action == 'update') {
                    //Open the update prompt section
                    $('#updatePromptSection').collapse('show');

                    //Get the prompt data for the selected ID and fill in the form fields
                    $.ajax({
                        url: '/prompt/' + id,
                        type: 'GET',
                        success: function(data) {
                            console.log('Success:', data);
                            $('#updateId').val(data[0].id);
                            $('#updateName').val(data[0].name);
                            $('#updatePromptContent').val(data[0].prompt_content);
                            $('#updatePromptVariables').val(data[0].prompt_variables);
                            $('#updateDesignedFor').val(data[0].designed_for);
                            $('#updateParentPromptId').val(data[0].parent_prompt_id);
                        },
                        error: function(xhr, status, error) {
                            $('#results').html("Issue getting prompt information to update. Error: " + error);
                        }
                    });
                    return;
                } else if (action == 'inherit') {
                    //Open the create prompt section
                    $('#createPromptSection').collapse('show');

                    //Get the prompt data for the selected ID and fill in the form fields
                    $.ajax({
                        url: '/prompt/' + id,
                        type: 'GET',
                        success: function(data) {
                            console.log('Success:', data);
                            $('#name').val(data[0].name);
                            $('#promptContent').val(data[0].prompt_content);
                            $('#promptVariables').val(data[0].prompt_variables);
                            $('#designedFor').val(data[0].designed_for);
                            $('#parentPromptId').val(data[0].id);
                        },
                        error: function(xhr, status, error) {
                            $('#results').html("Issue getting prompt infor to inherit. Error: " + error);
                        }
                    });
                    return;
                } else {
                    alert("Invalid action");
                }
            });
            
            
            function jsonToHtmlTable(jsonData, tableHtml) {

                //Set Custom order of headers (id, name, prompt_content, prompt_variables, designed_for, parent_prompt_id, created_at)
                tableHtml += "<th>ID</th><th>Name</th><th>Prompt Content</th><th>Prompt Variables</th><th>Designed For</th><th>Parent Prompt ID</th><th>Created At</th>";

                tableHtml += "<th>Inherit Prompt</th><th>Update Prompt</th><th>Delete Prompt</th></tr>";

                // Populate the table rows with the JSON data
                jsonData.forEach(item => {
                    tableHtml += "<tr>";

                    //Fill in the table with the data
                    tableHtml += "<td>" + item.id + "</td>";
                    tableHtml += "<td>" + item.name + "</td>";
                    tableHtml += "<td>" + item.prompt_content + "</td>";
                    tableHtml += "<td>" + item.prompt_variables + "</td>";
                    tableHtml += "<td>" + item.designed_for + "</td>";
                    tableHtml += "<td>" + item.parent_prompt_id + "</td>";

                    //Need to clean up the date format
                    let date = new Date(item.created_at);
                    item.created_at = date.toISOString().slice(0, 10);
                    tableHtml += "<td>" + item.created_at + "</td>";

                    // Add buttons for inheriting, updating, and deleting prompts
                    tableHtml += addButtonsToTable(item);

                    tableHtml += "</tr>";
                });

                // Close the table tags
                tableHtml += "</table>";

                return tableHtml;
            }

            // Simplified table verson (only shows ID, Name, and Prompt Content, Inherit, Update, and Delete buttons)
            function simpleJsonToHtmlTable(jsonData, tableHtml) {


                //Set Custom order of headers (id, name, prompt_content)
                tableHtml += "<th>ID</th><th>Name</th><th>Prompt Content</th>";

                tableHtml += "<th>Inherit Prompt</th><th>Update Prompt</th><th>Delete Prompt</th></tr>";

                // Populate the table rows with the JSON data
                jsonData.forEach(item => {
                    tableHtml += "<tr>";

                    //Fill in the table with the data
                    tableHtml += "<td>" + item.id + "</td>";
                    tableHtml += "<td>" + item.name + "</td>";
                    tableHtml += "<td>" + item.prompt_content + "</td>";

                    // Add buttons for inheriting, updating, and deleting prompts
                    tableHtml += addButtonsToTable(item);

                    tableHtml += "</tr>";
                });

                // Close the table tags
                tableHtml += "</table>";

                return tableHtml;
            }

            // Function to avoid repeating the code when converting JSON to HTML table, and choose which one to use based on the checkbox
            function jsonToHtmlRouter(jsonData) {
                // Check if jsonData is empty
                if (jsonData.length === 0) {
                    return "<p>No data available</p>";
                }

                // Check if the simplified table checkbox is checked
                let simplifyTable = $('#simplifiedTable').is(':checked');

                // Start building the table
                let tableHtml = "<table class='table table-hover table-primary table-bordered table-striped'><tr>";

                if (simplifyTable) {
                    return simpleJsonToHtmlTable(jsonData, tableHtml);
                } else {
                    return jsonToHtmlTable(jsonData, tableHtml);
                }
            }

            // Function to add buttons to the table (mostly to clean up code repitition)
            function addButtonsToTable(item) {
                // Add buttons for inheriting, updating, and deleting prompts
                let buttonTableHtml = "<td><button type='button' class='btn btn-primary btn-action' data-id='" + item.id + "' data-action='inherit'>Inherit</button></td>";
                buttonTableHtml += "<td><button type='button' class='btn btn-primary btn-action' data-id='" + item.id + "' data-action='update'>Update</button></td>";
                buttonTableHtml += "<td><button type='button' class='btn btn-primary btn-action' data-id='" + item.id + "' data-action='delete'>Delete</button></td>";

                return buttonTableHtml;
                
            }


            function getAllPrompts() {
                console.log("Trying to get all prompts");
                $.ajax({
                    url: '/prompt',
                    type: 'GET',
                    success: function(data) {
                        console.log(data);
                        let promptsHtml = jsonToHtmlRouter(data)
                        $('#results').html(promptsHtml);
                    },
                    error: function(xhr, status, error) {
                        $('#results').html("Error: " + error);
                    }
                });
            }

            $(document).ready(function() {
                getAllPrompts();
            });

            // Refresh button
            $("#refreshData").click(function() {
                refreshData();
            });

            // Refresh function
            function refreshData() {
                $('#results').html('')
                getAllPrompts();
            }
        </script>
    </body>
</html>